@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

:root {
  --primary-color: #122175;
  --secondary-color: #eaebf1;
}

.fs-8 {
  font-size: 0.9em;
}

.text-primary-color {
  color: var(--primary-color);
}

.border-primary-color {
  border: 1px solid var(--primary-color);
}
.bg-primary-color {
  background-color: var(--primary-color);
}

.bg-secondary-color {
  background-color: var(--secondary-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
li,
a,
option,
::placeholder {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.banner-img {
  object-fit: cover;
}

.recipe-thumbnail {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border: 5px solid #fff;
  border-radius: 50%;
  margin: 1em;
}

.recipe-img {
  width: 140px;
  height: 140px;
  object-fit: cover;
  border: 5px solid #fff;
  border-radius: 50%;
}

.recipe-footer {
  margin-top: -30px;
}

.recipe-footer {
  min-height: 160px;
}

.form-control,
.form-select {
  border: 0 !important;
  border-bottom: 1px solid var(--primary-color) !important;
  border-radius: 0 !important;
  width: 100%;
}

.search-btn {
  border: 1px solid var(--primary-color);
  background-color: var(--primary-color);
  color: #fff;
  font-size: 0.8em;
}

.selected-tags button {
  /* width: 5px; */
  margin: -10px 0 0 -17px;
}
